<div class="container mt-2 pt-2">
<div>
    Hi, {{name}}
</div>

<form [formGroup]="myForm">
    <div>
        <label class="form-label">Please enter city name to get weather forecast</label>
        <input class="form-control-sm ms-2"type="text" formControlName="cityName" id="city" />
    </div>
    <div>
        <button type ="button" class="rounded mt-2" (click)="check()">Check status</button>
    </div>
    <div *ngIf="temp != null" class="mt-3 container">
        <h1 class="fw-bold">Forecast for {{cityNameDisplay}}</h1>
        <div>
            <label class="fw-bold">Forecast : </label>
            <span>{{forecast}}</span>
        </div>
        <div>
            <label class="fw-bold">Temperature : </label>
            <span>{{temp}} &#176; C</span>
        </div>
        <div>
            <label class="fw-bold">Pressure : </label>
            <span>{{pressure}} hPA</span>
        </div>
        <div>
            <label class="fw-bold">Wind speed : </label>
            <span>{{wind}}  kmph</span>
        </div>
    </div>
</form>
</div>